body {
    background-color: black;
    color: blanchedalmond;
}

body > * * {
    border: solid 1px red;
    margin: 4px;;
}
 
/* input {
    border: 2px solid;
    border-radius: 4px;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
} */

label {    
    /* width:200px; */
    display: inline-block;    
}

.margen {
    margin-top: 1.5em;
}

.red {
    color: rgb(248, 54, 54);
}

.green {
    color: chartreuse;
}

.valid {
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
    background-size: 25px;
}

.invalid {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
    background-size: 25px;
}

.hidden {
    display: none;
}

.container {
    display: flex;    
    justify-content:space-evenly;
    align-items: center;
}

.hatsContainer {
    border: solid 1px greenyellow;
    width: 80%;
    margin: auto;
    display: flex;
}
